<% provide(:title, "About") %>
<div class="about_contact">
  <h3 class="align_center">
    About This Website<br><br>
    <small>
      <font color="d1d1d1">
        This website was written by your truely Seita (
        <%= link_to "LinkedIn", 
            "https://www.linkedin.com/in/au-lee-216779120", 
            :target => "blank" %>
        ).  It was written while I
        was learning Ruby on Rails.  Since the old StrangeMUD website can use 
        an update, I decided to use this opportunity to see what I can do with 
        the stuffs I learned.<br>
        <br>
        <a target="blank" href='https://bitbucket.org/Evilmuffin/strange/src'>
          Source
        </a>
      </font>
    </small>
  </h3>
</div>
    
