<% provide(:title, "Building") %>
<body>
  <div class="center jumbotron">
    <font color="d1d1d1">
      <h1>Building</h1>
    </font>
    <h3>
      <%= image_tag("tools1.png") %>
    </h3>
    <p>
      <small>
        So you want to build an area?  Sure! Go knock yourself out!<br>
        <br>
        No, I'm not kidding.  Anyone may build an area for StrangeMUD.  Prior 
        building experience with StrangeMUD, or any mud, is not necessary, nor 
        is any programming skill required.  It is, however, helpful if you have
        some familiarity with StrangeMUD and its existing areas.<br>
        <br>
        Areas on StrangeMUD (unlike some other MUDs) are not restricted by 
        theme. You may choose to write a medieval-themed area, or you may 
        choose to model it after a modern city. You may base it on a favorite 
        book, movie, or legend, or you may simply make it up as you go along. 
        Any reasonably creative content is eligible for implementation. 
        Of course, any discriminatory or harassing content will not be 
        accepted. Please use common sense, and if you are in doubt, ask an 
        immortal.<br>
        <br>
        The only requirement for area creation is a good idea. Helpful tools 
        include a computer with a text editor (such as DOS edit or 
        Notepad/WordPad for Windows).  You may also use a text editor in an 
        ISP shell account, such as Pico for Unix/Linux.<br>
        <br>
        While it is not necessary to notify us of your intent, doing so will 
        let you know if an area of your theme has already been implemented or 
        is under construction.  The best contact would be Seita, head of 
        building.<br>
        <br>
        Many of our immortals have building experience, and will gladly answer 
        any questions they can. In addition, the builder's documents 
        (CircleMUD builder's docs revised to apply specifically to StrangeMUD) 
        are freely available in this section.<br>
        </small>
    </p>
    <ul id="download_links">
      <li>
        <%= link_to "Building DOCS", '/files/blddoc.txt', 
            :target => '_blank' %>
      </li>
      <li>
        <%= link_to "StrangeMUD Reference", '/files/StrangeMUD_refernce.xls', 
            :target => '_blank' %>
      </li>
      <li>
        <%= link_to "Room Entry and Exit", '/files/Wld-EntryExit.txt', 
            :target => '_blank' %>
      </li>
      <li>
        <%= link_to "MPSET", '/files/MPSET.REF', 
            :target => '_blank' %>
      </li>
      <li>
        <%= link_to "Social Guide", '/files/socguide.txt', 
            :target => '_blank' %>
      </li>
    </ul>
  </div>
</body>