<% provide(:title, "Contact") %>
<div class="about_contact">
  <h3 class="align_center">
    Contact<br><br>
      <small>
        <font color="d1d1d1">
        If you have any question about this website or the game, feel free 
        to MUDmail Seita.
        <br>
        <br>
        <br>
        </font>
      </small>
    <%= image_tag("envelope.jpg") %>
  </h3>
</div>
