<% provide(:title, "Help") %>
<body>
  <div class="center jumbotron">
    <div id="panel">
      <p>
        <% list = %w[Basic_Class
                     Abbreviation
                     Communication
                     Exploring
                     Specialized_Class
                     Connection
                     Getting_Started] 
        %>
        <% list.sort.each do |val| %>
          <small><%= link_to "#{val.titleize}", url="##{val}" %></small>
          <br>
          <br>
        <% end %>
        </ul>
      </p>    
    </div>
    <div id="content">
      <% list = %w[basic_class 
                   specialized_class 
                   berserker 
                   warrior
                   swordsman
                   exploring
                   ninja
                   assassin
                   mage
                   cleric
                   brigand
                   wizard
                   witch
                   priest
                   monk
                   crusader
                   darkone
                   illusionlist
                   sorcerer
                   oracle
                   bard
                   ruffian
                   ranger
                   vampire
                   fundy
                   saint
                   necro
                   lich
                   connection
                   paladin
                   sage
                   conjurer
                   evangelist
                   getting_started
                   communication
                   abbreviation
                   thief] 
      %>
      <% list.sort.each do |val| %>
        <div id="help_list">
        <%= render "/static_pages/help_partials/#{val}" %>
        </div>
      <% end %>
    </div>
  </div>
</body>

