<% provide(:title, "Strange Home") %>

<body>
<div class="center jumbotron">
  
  <h1><font color="d1d1d1">Welcome to StrangeMUD<sup>&trade;</sup></font></h1>

  <h2>"Where thinking just might become a prerequisite"</h2>
  
  <h3>
    <%= image_tag("dice-medieval-alphap.png") %>
    <%= link_to "Play Now!", "http://www.phudbase.com/wm_client/", 
      :target => "_blank", 
      data: { confirm: "
      Enter the following info in the next page.
      Host: strangemud.net | Port: 9332"
      },
      class: "btn bt-lg btn-primary" %>
  </h3>
  
  <p>
    <small>
      StrangeMUD<sup>&trade;</sup> is a text-based multi-user real-time virtual 
      dungeons and dragons type game 
      (<a target="blank" href="https://en.wikipedia.org/wiki/MUD">MUD</a>). 
      The game has been running continuously since 1994. It is one of the 
      longest running MUDs out there! StrangeMUD<sup>&trade;</sup> had just 
      celebrated it's 20th anniversary!<br>
      <br>
      Running a heavily modified <a target="blank"
      href="http://www.circlemud.org/">CircleMUD 
      2.2</a> engine, it is anything but a MUD out of a box. A plethora of 
      insightful coders and creative builders have, over the years, 
      transformed it into a relaxed place online that many players call home.
      <br>
      <br>
      StrangeMUD<sup>&trade;</sup> offers 10 
      <a href="/help#Basic_class">basic class</a>: Warrior, Cleric, 
      Thief, Mage, Paladin, Brigand, Lich, Sage, Conjurer, & Evangelist. Each 
      primary class has a choice of two 
      <a href="/help#Specialized_Class">specialized class</a>. Both multiplay 
      and object sharing between characters are legal. Player killing(PK) is 
      optional above level 25 and clan membership is a popular way to make 
      a name for oneself. With over 80 open zones available, advancing in 
      the mortal ranks takes players through many unique areas as well as old 
      favorites.<br>
      <br>
      The most important asset to StrangeMUD<sup>&trade;</sup> is its players. 
      From any gods to helpful mortals, this MUD has something for everyone. 
      It is based on that which makes the world go around -- FUN.<br>
      <br>
      Thanks for visiting! Join us at telnet strangemud.net 9332
    </small>
  </p>
  
</div>

</body>



