<h1>StaticPages#test</h1>

<script>
$(document).ready(function(){
    $("testing").click(function(){
        $("#div1").load("<%= about_path %>");
    });
});
</script>

<testing>Get External Content</testing>

<div id="div1" style="width:100%; height: 200px; margin:1%;">SHOW HERE!</div>

<br>
<br>

<div>
    
<iframe src="https://rails-tutorial-evilmuffin.c9users.io/" name="iframe_a"
  style="width:100%; height:100%; margin:1%;">
</iframe>
</div>


<!-- 

<script>
$(document).ready(function(){
    $("testing").click(function(){
        $("#div1").load("<%= user_path(path) %>");
    });
});
</script>

<div id="div1"></div>

<a href="<%= user_path(@users.find_by(id: 1)) %>">clicktest</a>

<%= link_to "clicky", user_path(@users.find_by(id: 1)) %>

<area id="myAnchor">
<area id="mapid" onchange="name=this.value;" />

<% hh = @users.find_by(id: 1) %>
<a href="<%= user_path(hh) %>">clicky</a>



<p>Click the button to return the value of its value attribute.</p>

<button value="value1" onclick="myFunction(this)">1</button>
<button value="value2" onclick="myFunction(this)">2</button>

<p id="output"></p>

<script>
function myFunction(button) {
    var x = button.value;
    document.getElementById("output").innerHTML = x;
}
</script>

-->

<!-- Just need to figure out how to pass the var x to rails at server side with ajax

<button value="Seita" onclick="myFunction(this)">1</button>
<button value="Abigale Kassulke" onclick="myFunction(this)">2</button>

<p id="output"></p>

<script>
function myFunction(button) {
    var x = button.value;
    $ajax({
        data : { data_value: JSON.stringify(x) }
    });
    $("#div1").load("<%= user_path.(@users.find_by(name: params[:data_value])) %>");
}
</script>

<div id="div1"></div>

-->