<% @user.messages.each do |message| %>
<li id="message-<%= message.id %>">
  <div class="user_pic">
    <% if message.user.picture? %>
      <%= image_tag message.user.picture.url %>
    <% else %>
      <%= image_tag("generic.jpg") %>
    <% end %>
  </div>
  <font color='d1d1d1'>
    <span class="user"><%= link_to message.user.name, message.user %></span>
    <span class="content"><%= message.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(message.created_at) %> ago.
    <% if current_user?(message.user) %>
      | <%= link_to "edit", edit_message_path(message) %>
      | <%= link_to "delete", message, method: :delete,
                                     data: { confirm: "Are you sure?" } %>
    <% end %>
  </span>
  </font>
</li>
<% end %>