<% provide(:title, "Message Board") %>
<% provide(:button, "Save changes") %>
<div class="row">
  <aside class="col-md-4">
    <% if logged_in? %>
      <h3><font color="d1d1d1">Edit Message</font></h3>
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="message_form" %>
        <%= render 'shared/message_form' %>
      </section>
    <% else %>
      <font color='d1d1d1'>
         You must <%= link_to "log in", login_path %> in order to post a message.
      </font>
    <% end %>
  </aside>
</div>