<% provide(:title, "Log in") %>
<h1><font color="d1d1d1">Log in</font></h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(:session, url: login_path) do |f| %>
      
      <font color="d1d1d1"><%= f.label :email %></font>
      <%= f.email_field :email, class: 'form-control' %>
      
      <font color="d1d1d1"><%= f.label :password %></font>
      <%= link_to "(forgot your password?)", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <br>
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <p>
      
    </p>
      <font color="d1d1d1">
        <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>
      </font>
      <font color="d1d1d1">
        New user can <%= link_to "SIGN UP HERE", signup_path %>.
      </font>  
    </p>
  <% end %>  
  </div>
</div>