<% provide(:title, 'Reset password') %>
<h1><font color="d1d1d1">Reset Password</font></h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    
      <%= hidden_field_tag :email, @user.email %>
      
      <font color="d1d1d1"><%= f.label :password %></font>
      <%= f.password_field :password, class: 'form-control' %>
      
      <font color="d1d1d1">
        <%= f.label :password_confirmation, "Confirmation" %>
      </font>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <%= f.submit "Update password", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
