<% provide(:title, "Password reset") %>
<h1><font color="d1d1d1">Password Reset</font></h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <font color="d1d1d1"><%= f.label :email %></font>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.submit "Reset Password", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
