<h1>StrangeMUD<sup>&trade;</sup></h1>

<p>Greeting <%= @user.name %>!</p>

<p>
Welcome to StrangeMUD!  Click on 
<%= link_to "this link", edit_account_activation_url(@user.activation_token,
                                                     email: @user.email) %> 
to activate your account.
</p>
