<h1>Password Reset</h1>

<p>Click on
  <%= link_to "the link", edit_password_reset_url(@user.reset_token,
                                                  email: @user.email) %> 
  to reset your password.
</p>

<p>This link will self destruct in 2 hours....Muahahahahahaha</p>

<p>
If you did not request your password to be reset, you can ignore this email and
your password will remain as is.
</p>
