To reset your password click the link below:

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>

This link will self destruct in 2 hours....Muahahahahahaha

If you did not request your password to be reset, you can ignore this email and
your password will remain as is.


