<%= form_for(@user, html: { multipart: true}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div id="form_basic">
    <font color="d1d1d1"><%= f.label :name %></font>
    <%= f.text_field :name, class: 'form-control' %>
  
    <font color="d1d1d1"><%= f.label :email %></font>
    <%= f.email_field :email, class: 'form-control' %>
  
    <font color="d1d1d1"><%= f.label :password %></font>
    <%= f.password_field :password, class: 'form-control' %>
  
    <font color="d1d1d1">
      <%= f.label :password_confirmation, "Confirmation" %>
    </font>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
    <% if !logged_in? %>
      <font size="4.5"><br></font>
    <% else %>
      <font color="d1d1d1">
        <%= f.label :picture, "Change your Avatar" %>
        <span class="avatar">
          <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
        </span>
      </font>
    <% end %>
    
    <%= f.submit yield(:button), class: "btn btn-primary" %>
  </div>
  <div id="form_char">
    <% if logged_in? %>
      <% lvl = (1..45).map(&:to_s) %>
      <% char_class = %w[Wa Th Mu Cl Br Li Pa Co Ev Sw Be Ni As Wz Wi
                 Pr Mo Ra Ru Va Ne Cr Dk Il Ba Fu St].sort %>
      <table width="275">
        <col width="140">
        <col width="45">
        <col width="45">
        <tr>
          <td style="padding-left: 5px; padding-right: 5px">
          <font color="d1d1d1">
            <%= f.label :char1, "Character 1" %>
          </font>
          </td>
          <td style="padding-left: 5px; padding-right: 5px">
            <font color="d1d1d1">
              <%= f.label :char1_lvl, "lvl" %>
            </font>
          </td>
          <td style="padding-left: 5px; padding-right: 5px">
          <font color="d1d1d1">
            <%= f.label :char1_class, "Class" %>
          </font>
          </td>
        </tr>
        
        <tr>
          <td style="padding-left: 5px; padding-right: 5px">
            <%= f.text_field :char1, class: 'form-control' %>
          </td>
          <td style="padding-left: 5px; padding-right: 5px">
            <%= f.select :char1_lvl, lvl, include_blank: true, 
                                     class: 'form-control' %>
          </td>
          <td style="padding-left: 5px; padding-right: 5px">
            <%= f.select :char1_class, char_class, include_blank: true, 
                                       class: 'form-control' %>
          </td>
        </tr>
        
        <tr>
          <td style="padding-left: 5px; padding-right: 5px">
          <font color="d1d1d1">
            <%= f.label :char2, "Character 2" %>
          </font>
          </td>
          <td style="padding-left: 5px; padding-right: 5px">
          </td>
          <td style="padding-left: 5px; padding-right: 5px">
          </td>
        </tr>
        
        <tr>
          <td style="padding-left: 5px; padding-right: 5px">
            <%= f.text_field :char2, class: 'form-control' %>
          </td>
          <td style="padding-left: 5px; padding-right: 5px">
            <%= f.select :char2_lvl, lvl, include_blank: true, 
                                     class: 'form-control' %>
          </td>
          <td style="padding-left: 5px; padding-right: 5px">
            <%= f.select :char2_class, char_class, include_blank: true, 
                                       class: 'form-control' %>
          </td>
        </tr>
        
        <tr>
          <td style="padding-left: 5px; padding-right: 5px">
          <font color="d1d1d1">
            <%= f.label :char3, "Character 3" %>
          </font>
          </td>
          <td style="padding-left: 5px; padding-right: 5px">
          </td>
          <td style="padding-left: 5px; padding-right: 5px">
          </td>
        </tr>
        
        <tr>
          <td style="padding-left: 5px; padding-right: 5px">
            <%= f.text_field :char3, class: 'form-control' %>
          </td>
          <td style="padding-left: 5px; padding-right: 5px">
            <%= f.select :char3_lvl, lvl, include_blank: true, 
                                     class: 'form-control' %>
          </td>
          <td style="padding-left: 5px; padding-right: 5px">
            <%= f.select :char3_class, char_class, include_blank: true, 
                                       class: 'form-control' %>
          </td>
        </tr>
        
        <tr>
          <td style="padding-left: 5px; padding-right: 5px">
          <font color="d1d1d1">
            <%= f.label :char4, "Character 4" %>
          </font>
          </td>
          <td style="padding-left: 5px; padding-right: 5px">
          </td>
          <td style="padding-left: 5px; padding-right: 5px">
          </td>
        </tr>
        
        <tr>
          <td style="padding-left: 5px; padding-right: 5px">
            <%= f.text_field :char4, class: 'form-control' %>
          </td>
          <td style="padding-left: 5px; padding-right: 5px">
            <%= f.select :char4_lvl, lvl, include_blank: true, 
                                     class: 'form-control' %>
          </td>
          <td style="padding-left: 5px; padding-right: 5px">
            <%= f.select :char4_class, char_class, include_blank: true, 
                                       class: 'form-control' %>
          </td>
        </tr>
        
        <tr>
          <td style="padding-left: 5px; padding-right: 5px">
          <font color="d1d1d1">
            <%= f.label :char5, "Character 5" %>
          </font>
          </td>
          <td style="padding-left: 5px; padding-right: 5px">
          </td>
          <td style="padding-left: 5px; padding-right: 5px">
          </td>
        </tr>
        
        <tr>
          <td style="padding-left: 5px; padding-right: 5px">
            <%= f.text_field :char5, class: 'form-control' %>
          </td>
          <td style="padding-left: 5px; padding-right: 5px">
            <%= f.select :char5_lvl, lvl, include_blank: true, 
                                     class: 'form-control' %>
          </td>
          <td style="padding-left: 5px; padding-right: 5px">
            <%= f.select :char5_class, char_class, include_blank: true, 
                                       class: 'form-control' %>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
  
<% end %>