<li>
  <% if user.picture? %>
    <%= image_tag user.picture.url %>
  <% else %>
    <%= image_tag("generic.jpg") %>
  <% end %>
  <%= link_to user.name, user %>
    <% if current_user.admin? && !current_user?(user) %>
      <% if user.activated? %>
        <font color="62FF19">(Activated since 
          <%= user.activated_at.to_time.strftime('%m/%d/%Y') %>)</font>
        <font color="d1d1d1">|</font> 
        <%= link_to "delete", user, method: :delete,
            data: { confirm: "Are you sure?" } %>
      <% else %>
        <font color="FF1919">(Not Activated since 
          <%= user.created_at.to_time.strftime('%m/%d/%Y') %>)</font>
        <font color="d1d1d1">|</font> 
        <%= link_to "delete", user, method: :delete,
          data: { confirm: "Are you sure?" } %>
      <% end %>
    <% end %>
</li>