<% provide(:title, 'Delete inactive users') %>
<font color="d1d1d1">
  <h3>The following users had been deleted.</h3>
</font>
  <ul class="users">
    <% @users.each do |user| %>
      <% if !user.activated? %>
        <% if user.created_at < 7.days.ago %>
          <li>
            <font color="FF1919"><%= user.name %></font>
            <% user.destroy %>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>

