<% provide(:title, "Edit") %>
<% provide(:button, "Save changes") %>
<font color="d1d1d1"><h1>Update your profile</h1></font>

<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <%= render 'form' %>
    <br>
    <div class="avatar_pic">
      <% if current_user.picture? %>
        <%= image_tag current_user.picture.url %>
      <% else %>
        <%= image_tag("generic.jpg") %>
      <% end %>
      <font color="d1d1d1">Your avatar</font>
    </div>
  </div>
</div>

