<% provide(:title, 'All users') %>

<font color="d1d1d1">
  <h3>
    All users
    <% msg = "This will delete all the users who has not activate " %>
    <% msg += "their account in 7 days or more.  Are you sure?" %>
    <small>
      <%= link_to "(Delete inactive users)", delete_inactive_users_path,
                   data: { confirm: msg } if current_user.admin? %>
    </small>
  </h3>
</font> 

<div class="center jumbotron">
<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>
<div id="div11"></div>
<%= will_paginate %>

</div>

