<% provide(:button, 'Create my account') %>
<% provide(:title, 'Sign up') %>
<font color="d1d1d1">
  <h1>Sign Up</h1>
</font>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= render 'form' %>
  </div>
</div>

