<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <font color="d1d1d1">
          <div class="user_pic">
          <% if @user.picture? %>
            <%= image_tag @user.picture.url %>
          <% else %>
            <%= image_tag("generic.jpg") %>
          <% end %>
          </div>
          <br>
        <%= @user.name %><br>
      </h1>
      <br>

        <table width="250">
        <col width="90">
        <col width="90">
        <col width="30">
        <col width="30">
        <tr>
          <td> </td>
          <td>Name</td>
          <td>lvl</td>
          <td style="text-align: center;">Class</td>
        </tr>
        <tr>
          <td>Character 1</td>
          <td><%= @user.char1 %></td>
          <td style="padding-right: 5px;"><%= @user.char1_lvl %></td>
          <td style="text-align: center;"><%= @user.char1_class %></td>
        </tr>
        <tr>
          <td>Character 2</td>
          <td><%= @user.char2 %></td>
          <td><%= @user.char2_lvl %></td>
          <td style="text-align: center;"><%= @user.char2_class %></td>
        </tr>
        <tr>
          <td>Character 3</td>
          <td><%= @user.char3 %></td>
          <td><%= @user.char3_lvl %></td>
          <td style="text-align: center;"><%= @user.char3_class %></td>
        </tr>
        <tr>
          <td>Character 4</td>
          <td><%= @user.char4 %></td>
          <td><%= @user.char4_lvl %></td>
          <td style="text-align: center;"><%= @user.char4_class %></td>
        </tr>
        <tr>
          <td>Character 5</td>
          <td><%= @user.char5 %></td>
          <td><%= @user.char5_lvl %></td>
          <td style="text-align: center;"><%= @user.char5_class %></td>
        </tr>
      </table>

      </font>
      
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.messages.any? %>
      <h3>
        <font color='d1d1d1'>
          <%= @user.name %> has posted 
          <%= pluralize(@user.messages.count, "message") %>
        </font>
      </h3>
      <ol class="messages news_feed">
        <%= render 'messages/message' %>
      </ol>
      <%= will_paginate @messages %>
    <% end %>
  </div>
</div>


