<%= form_for(@message) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Post here, maximum 150 chars..." %>
  </div>
  <%= f.submit yield(:button), class: "btn btn-primary" %>
<% end %>
  