<% if current_user.picture? %>
  <%= image_tag current_user.picture.url %>
<% else %>
  <%= image_tag("generic.jpg") %>
<% end %> 
<h1><font color="d1d1d1"><%= current_user.name%></font></h1>
<span><%= link_to "view my profile", current_user %></span>
<span>
  <font color="d1d1d1">
    You have <%= pluralize(current_user.messages.count, "posts") %>
  </font>
</span>