<a name="Abbreviation"></a>
<p>
  <small>
    Abbreviation
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    It is worth noting that StrangeMUD has abbreviation capabilities. This means 
    that in addition to general mud commands, you can abbreviate player names, 
    mob names, and object names. You may also refer to yourself as 'me' instead 
    of typing out your full name. Examples: 'l' for 'look', 'sa' for 'say', 't' 
    for 'tell'. To look at yourself, you might type 'l me', while to look at 
    Rasmussen, you might type 'l ras'. Directions are abbreviated 'n', 's', 'e', 
    'w', 'u', and 'd'. <br>
    <br>
    ***NOTE: When abbreviating mob or player names, you should be SURE that your 
    action is directed at the one you intend. For example, if you are grouped 
    with Levi, and about to kill the mob Leviathan, you might want to 'bac levia'
    to avoid killing Levi!***
  </font>
  </small>
</blockquote>