<a name="Assassin"></a>
<p>
  <small>
    Assassin
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    Assassins is a specialized thief. Assassin deal deadly single stikes and
    is capable of killing victims in a single blow.<br>
    <br>
    Assassins can see in the dark and always walk in the shadows. They also
    are capable of seeing hidden creatures.
  </font>
  </small>
</blockquote>