<a name="Bard"></a>
<p>
  <small>
    Bard
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    Bards like to sing stupid songs that annoy people. But they are good at Area
    Control spells and masters at charming dumb monsters.
  </font>
  </small>
</blockquote>