<a name="Basic_Class"></a>
<p>
  <small>
    Basic Class
  </small>
</p>
<blockquote>
  <small>
  <font color="#d1d1d1">
  The basic classes are as follows:<br> 
  <a href="#Warrior">Warrior</a>, 
  <a href="#Thief">Thief</a>, 
  <a href="#Mage">Mage</a>, 
  <a href="#Brigand">Brigand</a>, 
  <a href="#Lich">Lich</a>, 
  <a href="#Paladin">Paladin</a>, 
  <a href="#Conjurer">Conjurer</a>, 
  <a href="#Evangelist">Evangelist</a>, 
  and 
  <a href="#Sage">Sage</a>.
  <br><br>
  As you gain in levels, these become more and more powerful.
  </font>
  </small>
</blockquote>