<a name="Berserker"></a>
<p>
  <small>
    Berserker
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
  The Berserker has the most HP of any class on the MUD. An enraged 
  berserker is not a pleasant sight. A berserker alone might find death 
  knocking at their door, but in a group setting, they can deal damage 
  like no other class. They are fairly straight forward to play. Point 
  and shoot!
  </font>
  </small>
</blockquote>