<a name="Brigand"></a>
<p>
  <small>
    Brigand
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    A Brigand is a combination of a warrior and a thief. They can be any
    alignment. Brigands can wield any weapon, but can't wear nearly as much
    armor as a warrior. Brigands get almost as many hit points as warriors.
  </font>
  </small>
</blockquote>