<a name="Cleric"></a>
<p>
  <small>
    Cleric
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    Clerics have an ancient belief in not carrying sharp weapons. Hence, they
    can only wield bludgeoning weapons. This class gives you the wisdom of
    peace, blessing and healing, though it is possible to learn more violent
    spells.
  </font>
  </small>
</blockquote>