<a name="Communication"></a>
<p>
  <small>
    Communication
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    There are several ways to communicate with other players in the game. SAY, 
    TELL, and WHISPER are some of the most common, along with GSAY or GTELL. 
    Public CHANNELS are good for communicating with everyone in the game, and 
    provide optional forums that you can toggle on or off. SHOUTing and YELLing 
    are less popular, and written communications exist in the form of bulletin 
    BOARDS and the mud's MAIL system. SOCIALS are also a favorite way of getting 
    a message across.
  </font>
  </small>
</blockquote>