<a name="Connection"></a>
<p>
  <small>
    Connection
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    To connect to the MUD, you can use a variety of 
    <a target="blank" href="https://en.wikipedia.org/wiki/MUD_client">
      MUD clients
    </a>.  
    <a target="blank" href="http://tintin.sourceforge.net/">TinTin++</a>, 
    <a target="blank" href="http://www.rasbora.freeserve.co.uk/wintin.htm">
      Wintin95
    </a>, and
    <a target="blank" 
       href="http://www.zuggsoft.com/page.php?file=zmud/zmudinfo.htm">
      Zmud
    </a> are just some of the more popular ones.  If you don't feel like
    downloading anything, you can just use telnet.<br>
    <br>
    Simply connect your favorite MUD client to strangemud.net and set the port
    to 9332, it is as simple as that.
  </font>
  </small>
</blockquote>