<a name="Conjurer"></a>
<p>
  <small>
    Conjurer
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    A Conjurer is a combination of a Mage and a Thief. Conjurers are
    weaker than Thieves but Stronger than Mages. Conjurers cannot wield Slashing
    weapons.
  </font>
  </small>
</blockquote>