<a name="Crusader"></a>
<p>
  <small>
    Crusader
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    A Crusader is a very straightforward class to play.  They have great soloing
    Ability and are useful in a group.  A neutral Crusader will not be able to
    Heal effectively.
  </font>
  </small>
</blockquote>