<a name="Darkone"></a>
<p>
  <small>
    Darkone
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    A Darkone is similar to a Crusader in that they are great at soloing and are
    useful in a group.  However, they are much less straightforward to play.  A
    neutral Darkone will not be able to heal effectively.
  </font>
  </small>
</blockquote>