<a name="djakarta"></a>
  <font color="#d1d1d1">
    Djakarta
  </font>  
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    The castle of Djakarta.  It was once a beautiful castle, but now it is rule 
    by a Demon, sent by Satan himself, who mockingly called himself Djakarta.<br>
    <br>
    Difficulty - Difficult to Deadly<br>
    Creator - Valen
  </font>
  </small>
</blockquote>