<a name="Evangelist"></a>
<p>
  <small>
    Evangelist
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    The Evangelist is a Thief combined with a Cleric. They are weaker than
    clerics, and refuse to wield slashing weapons. Evangelists are stronger than
    thieves, but not by much.
  </font>
  </small>
</blockquote>