<a name="Exploring"></a>
<p>
  <small>
    Exploring
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    Take a look around you. The LOOK command will give you a detailed description
    of the room you are standing in, as well as WHO and what are in the room with
    you. You can get a better view of a player, mob, or object using LOOK or 
    EXAMINE: for example, 'look Rasmussen' would show you what Rasmussen, a 
    player, looks like; 'examine scroll' might show you a better description of 
    the scroll you are carrying. EXITS will show you the obvious exits from the 
    room, but you may have to look in each direction (NORTH, SOUTH, EAST, WEST, 
    UP, DOWN) to find closed doors or hidden exits. The AUTOEXITS command will 
    show you obvious exits automatically each time you look at the room.<br>
    <br>
    The BRIEF command will eliminate the room description you would normally see,
    and the commands COMPACT, COLOR, and PAGER are also useful in making your 
    DISPLAY more comfortable to view.
  </font>
  </small>
</blockquote>