<a name="Fundamentalist"></a>
<p>
  <small>
    Fundamentalist
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    Fundamentalists are crazed followers of their god. They will do anything to
    carry forth His/Her/Its name and convert the heathen masses. They gain a
    number of combat skills. Fundamentalists excel at fighting alone and
    pair great with a mage based class.
  </font>
  </small>
</blockquote>