<a name="Getting_Started"></a>
<p>
  <small>
    Getting Started
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    All new characters start their first playing session in the temple, a 
    peaceful place where resting and socializing are completely safe. When you 
    enter the game, you'll be naked (woo woo ;), which means you're carrying all
    your equipment. To see what you're carrying, use the INVENTORY command. You 
    can WEAR individual items one by one, or put everything on at once by typing
    'wear all'. To begin using your weapon, use the WIELD command, and to use a 
    light source or a hand-held item, use GRAB or HOLD. The EQUIPMENT command will
    show you what you are wearing and holding, and typing LOOK ME will show you 
    your character description (which you can enter at the login menu), your 
    physical condition, your equipment, and your inventory. Typing SCORE will 
    give you more detailed information about yourself, like your HIT POINTS (HP),
    MANA POINTS, and MOVEMENT POINTS (MV), your age and level, and later on,
    your ARMOR CLASS (AC), ALIGNMENT, HITROLL and DAMROLL. 
  </font>
  </small>
</blockquote>