<a name="Illusionlist"></a>
<p>
  <small>
    Illusionlist
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    Illusionist have fun making illusions and conjuring stuff up. They gain more
    mana than Bards, but get less hp. Illusionists are the ultimate utility
    character and a welcomed addition to any crusade.<br>
    <br>
    Illusionists regenerate mana quickly by nature.
  </font>
  </small>
</blockquote>