<a name="Lich"></a>
<p>
  <small>
    Lich
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    A Lich is a combination of a Mage and a Warrior. They combine powerful
    fighting with powerful magic. A Lich is weaker than a warrior but can wield
    any of the warrior's weapons. They get about half as much mana as a Magic
    User.
  </font>
  </small>
</blockquote>