<a name="Mage"></a>
<p>
  <small>
    Mage
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    This is the class of powerful and violent magic, but the Mage does not
    control the nature, and can therefore not bless and such.
  </font>
  </small>
</blockquote>