<a name="Monk"></a>
<p>
  <small>
    Monk
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    Monks are warrior clerics. They get more hit points than Priests, but less
    mana. They have more combat skills than priests do, but do not gain the
    curative powers given to priests. Monks are the easiest of the healers to
    play.  They can heal a large group with very little effort on the part of
    the player, but are not as effectively as a Priest or a Saint.<br>
    <br>
    Monks are naturally resistant to heat and cold.
  </font>
  </small>
</blockquote>