<a name="Necromancer"></a>
<p>
  <small>
    Necromancer
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    Necromancers have embraced death and made an ally of it. They gain powers
    that help mold the forces of death. Necromancers are prized for their
    ability to summon a player's corpse and kill monster with just a glace. 
    Should the need arise, they are also quite capable of dealing significant
    damage upon their vitims.
  </font>
  </small>
</blockquote>