<a name="Ninja"></a>
<p>
  <small>
    Ninja
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    A Ninja is a specialized thief. Ninja's gain a variety of combat skills.
    They are tough to hit and capable of protecting a group member from harm.
    <br><br>
    Ninja's are always sneaking around and regenerate hps quickly by nature.
  </font>
  </small>
</blockquote>