<a name="Oracle"></a>
<p>
  <small>
    Oracle
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    Oracles gain the same amount of hp and mana as a Sorceror.  They do not 
    posses many damage spells, however they can buff a group of players or
    charmed mobs enabling them to fight a good fight. Oracles are capable of
    serving as a backup healer.  They can also spell down a mob, but not as 
    well as some other classes.
  </font>
  </small>
</blockquote>