<a name="Paladin"></a>
<p>
  <small>
    Paladin
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    The Paladin class is a combination of Warrior and Cleric. Though they can be
    of any alignment, traditionally they are Good. Paladin's can use any weapon,
    and are good fighters as well as healers.<br>
    <br>
    A Paladin can wield any weapon. They get more HitPoints than a Cleric but
    only about half as much mana.
  </font>
  </small>
</blockquote>