<a name="paz"></a>
  <font color="#d1d1d1">
    Paz
  </font>  
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    Paz is home to a group of intimate friends who welcome weary travelers and 
    adventurers.  Its name means, literally, "peace."<br>
    <br>
    Difficulty - Medium to Slightly Difficult<br>
    Creator - Caila
  </font>
  </small>
</blockquote>