<a name="Priest"></a>
<p>
  <small>
    Priest
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    Priests are servants to their God. They gain more powerful curative spells
    and skills. A skilled priest can keep a large diverse group alive in a
    difficult battle.  They excel at healing people of their alignment, but can
    heal other alignments almost as well.<br>
    <br>
    Priest are permanently affected by Sanctuary.
  </font>
  </small>
</blockquote>