<a name="Ranger"></a>
<p>
  <small>
    Ranger
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    A Ranger is dedicated to the forest and the outdoors. They gain some spells
    and skills more related to animals and plants and the outdoors. Their ability
    to avoid direct damage and secure a group is unrivaled.
  </font>
  </small>
</blockquote>