<a name="Ruffian"></a>
<p>
  <small>
    Ruffian
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    Ruffians are crazed thievish people who like to bully others. They gain more
    hitpoints than rangers, and get a lot of combat skills. Ruffians aren't
    quite as good of tanks as Rangers or Swordsmen, but they gain an array of
    useful utility skills and are capable of knocking a monster completely out.
  </font>
  </small>
</blockquote>