<a name="Sage"></a>
<p>
  <small>
    Sage
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    A Sage is a combination of a Mage and a Cleric. Sages are dedicated to
    learning and magic. Sages can wear more equipment than a Mage, but
    receive less hit points. Sages, like Clerics, refuse to use sharp weapons.
    Sages receive more mana than both Clerics and Mages. They also have
    very good saving throws.
  </font>
  </small>
</blockquote>