<a name="Saint"></a>
<p>
  <small>
    Saint
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    A Saint is like a Priest only a bit more powerful. They are supremely
    blessed by their deity, and gain a great number of alignment based skills
    and spells. Saints gain more mana than Fundamentalists, but less hit points.
    Saints are full fledged healers capable of handling a fight when the need
    arises. Saints healing abilities are severly limited when trying to heal
    players not of their align, but their ability to resurrect the dead secures
    their position in any group.
  </font>
  </small>
</blockquote>