<a name="Sorcerer"></a>
<p>
  <small>
    Sorcerer
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    Sorcerors gain the same amount of hp and mana as an Oracle. They are capable
    of weakening a monster ability to fight significantly. They are also quite 
    able at surviving most confrontations. Under the right circumstances,
    sorcerer can deal significant damage upon their victims.
  </font>
  </small>
</blockquote>