<a name="Specialized_Class"></a>
<p>
  <small>
    Specialized Class
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
  When a player gains enough experience to surpass level 30, he/she/it
  can choose to specialize.  Each class has 2 specialized classes.<br><br>
  The specialized classes are:<br>
  <table width="280">
    <tr>
      <td>Warrior Specs:</td>
      <td><a href="#Swordsman">Swordsman</a></td>
      <td><a href="#Berserker">Berserker</a></td>
    </tr>
    <tr>
      <td>Thief Spec:</td>
      <td><a href="#Ninja">Ninja</a></td>
      <td><a href="#Assassin">Assassin</a></td>
    </tr>
    <tr>
      <td>Mage Spec:</td>
      <td><a href="#Wizard">Wizard</a></td>
      <td><a href="#Witch">Witch</a></td>
    </tr>
    <tr>
      <td>Cleric Spec:</td>
      <td><a href="#Priest">Priest</a></td>
      <td><a href="#Monk">Monk</a></td>
    </tr>
    <tr>
      <td>Brigand Spec:</td>
      <td><a href="#Ranger">Ranger</a></td>
      <td><a href="#Ruffian">Ruffian</a></td>
    </tr>
    <tr>
      <td>Lich Spec:</td>
      <td><a href="#Vampire">Vampire</a></td>
      <td><a href="#Necromancer">Necromancer</a></td>
    </tr>
    <tr>
      <td>Paladin Spec:</td>
      <td><a href="#Crusader">Crusader</a></td>
      <td><a href="#Darkone">Darkone</a></td>
    </tr>
    <tr>
      <td>Conjurer Spec:</td>
      <td><a href="#Illusionlist">Illusionlist</a></td>
      <td><a href="#Bard">Bard</a></td>
    </tr>
    <tr>
      <td>Evangelist Spec:</td>
      <td><a href="#Saint">Saint</a></td>
      <td><a href="#Fundamentalist">Fundamentalist</a></td>
    </tr>
    <tr>
      <td>Sage Spec:</td>
      <td><a href="#Sorcerer">Sorcerer</a></td>
      <td><a href="#Oracle">Oracle</a></td>
    </tr>
  </table>
  <br>
  Specializes characters start at level 31 and can gain up to level 45.
  They keep all their old skills, etc.
  </font>
  </small>
</blockquote>