<a name="Swordsman"></a>
<p>
  <small>
    Swordsman
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
  Swordsman are 2nd highest in the MUD with regard to hit points. Their 
  skills are a bit more refined than those of the berserker, though. 
  Swordsman cannot be disarmed. A Swordsman rather die then give up 
  their swords. Swordsman make great tanks and generally form the 
  cornerstone of a group.
  </font>
  </small>
</blockquote>