<a name="Thief"></a>
<p>
  <small>
    Thief
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
  Thiefs are known to have very special qualities, that no other class 
  offers. Many of these qualities can come in handy in many situations, 
  such as picking locks.
  </font>
  </small>
</blockquote>