<a name="Vampire"></a>
<p>
  <small>
    Vampire
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    Vampires are a fearsome class. They get more hitpoints than necromancers.
    Vampires gain combat skills and the ability to change form at will.<br>
    <br>
    Vampires see in the dark inherently and constantly emit an aura of fear.
  </font>
  </small>
</blockquote>