<a name="Warrior"></a>
<p>
  <small>
    Warrior
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
  Warriors are known to have more strength than the average player.  This
  makes them better at hand-to-hand-combat, as they possess skills of
  violence and fighting unequaled by the members of other class.
  </font>
  </small>
</blockquote>