<a name="Witch"></a>
<p>
  <small>
    Witch
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    Witches/Warlocks are specialized mages. Witches cangreatly weaken a monster 
    and in turn deal the most powerful of damage magic has to offer. A neutral 
    witch is unable to draw on thier deadliest magic. Witches are capable of 
    raising the dead and make the perfect counterpart to a Monk.
  </font>
  </small>
</blockquote>