<a name="Wizard"></a>
<p>
  <small>
    Wizard
  </small>
</p>
<blockquote class="blockquote">
  <small>
  <font color="#d1d1d1">
    Wizards are a welcome addition to any group.  They can deal large 
    amounts of damage while being harder to kill than a witch.  They 
    cannot provide the same amount of non-combat support as a witch.
  </font>
  </small>
</blockquote>