<%= form_for(@area) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="area_form">
    <% box = %w[left right top bottom] %>
    <% diff = ["Easy", "Medium","Slightly Difficult", "Difficult", "Deadly", 
               "Deadlier", "Impossible", "???"] %>
    <div id="area_form_left">
      <font color="d1d1d1"><%= f.label :name, "Area's Name" %></font>
      <%= f.text_field :name, 
          placeholder: "Must be less than 25 characters..." %>
          
      <font color="d1d1d1"><%= f.label :creator, "Creator" %></font>
      <%= f.text_field :creator, 
          placeholder: "Must be less than 50 characters..." %>
      
      <font color="d1d1d1">
        <%= f.label :box_location, "Info Box Location" %>
      </font>
      <%= f.select :box_location, box, class: 'form_control' %>
      
      <font color="d1d1d1"><%= f.label :diff_from, "Difficulty From" %></font>
      <%= f.select :diff_from, diff, class: 'form_control' %>
      
      <font color="d1d1d1"><%= f.label :diff_to, "To" %></font>
      <%= f.select :diff_to, diff, include_blank: true, class: 'form_control' %>
      <br><br>
      <%= f.submit yield(:button), class: "btn btn-primary" %>
    </div>
    <div id="area_form_right">
      <font color="d1d1d1"><%= f.label :coords, "Coordinates" %></font>
      <%= f.text_area :coords, 
       placeholder: "Must have at less 3 pairs.  Example: 11,11,22,22,33,33" %>
       
      <font color="d1d1d1"><%= f.label :description, "Area Description" %></font>
      <%= f.text_area :description, 
          placeholder: "Must be less than 200 characters..." %>
    </div>
  </div>
<% end %>
    
    