<% provide(:title, "World Map") %>

<% if logged_in? %>
  <h3>
    World Map<br>
    <small>
      <%= link_to "List all areas", showallareas_path %>
      <%= link_to "(Add new area)", new_area_path if current_user.admin? %><br>
    </small>
  </h3>
<% else %>
  <h3>
    World Map<br>
    <small>
      <%= link_to "List all areas", showallareas_path %>
    </small>
  </h3>
<% end %>
<div class="map">
  <%= image_tag("strangemap.png", :usemap => "#worldmap", :class => "mapper") %>
  <map name="worldmap">
    <% @areas.each do |area| %>
      <% if logged_in? %>
        <% if current_user.admin? %>
          <% edit = area_path(area) %>
          <% title = "Click to edit or delete" %>
        <% else %>
          <% edit = "#" %>
          <% title = "" %>
        <% end %>
      <% else %>
        <% edit = "#" %>
        <% title = "" %>
      <% end %>
      <area class="target noborder"
            shape="poly" coords="<%= area.coords %>"
            data-box="<%= area.box_location %>"
            data-path="<%= area_path(area) %> #area_show"
            data-name="<%= area.name %>"
            data-bottom="<%= edit %>"
            href="<%= edit %>"
            title="<%= title %>">
            <!-- data-box, data-path and data-name are used in text_box.js -->
    <% end %>
    <% if logged_in? %>
        <% if current_user.admin? %>
          <% title = "Click to edit or delete" %>
        <% else %>
          <% title = "" %>
        <% end %>
      <% else %>
        <% title = "" %>
      <% end %>
    <span id="boxleft"></span>
    <span id="boxright"></span>
    <span id="boxtop"></span>
    <span id="boxbottom" title="<%= title %>"></span>
  </map>
</div>

<div class="map_help" id="div1">
  <br>
  <br>
  <font color="d1d1d1">
    Hover mouse over area for more information.
  </font>
</div>

<script src="mapper.js"></script>
<script src="text_box.js"></script>
