<% provide(:title, @area.name) %>

<div id="area_show">
  <font color="#d1d1d1">
    <%= @area.name %>
  </font>
  <br>
  <br>
  <ol class="area_show_details">
    <font color = "d1d1d1">
      <li><%= @area.description %></li>
      <br>
      <li>Difficulty - 
        <% if @area.diff_to? %>
          <%= @area.diff_from %> to <%= @area.diff_to %>
        <% else %>
          <%= @area.diff_from %>
        <% end %>
      </li>
      <li>Creator - <%= @area.creator %></li>
    </font>
  </ol>
</div>
<br>
<% if logged_in? %>
  <% divider = " | " %>
  <font color="d1d1d1">
    <%= link_to "Edit", edit_area_path(@area) if current_user.admin? %> 
    <%= divider if current_user.admin? %>
    <%= link_to "Delete", @area, method: :delete,
        data: { confirm: "Are you sure?" } if current_user.admin? %>
  </font>
<% end %>
