<% provide(:title, "Show All Areas") %>
<h3>List of Areas</h3>
<ol class="showall">
  <%= will_paginate %>
  <% @areas.each do |area| %>
    <li>
      <font color="#d1d1d1">
        <%= area.name %>
      </font>
      <blockquote class="blockquote">
        <small>
          <font color = "d1d1d1">
          <%= area.description %>
            <br>
            <br>  
          Difficulty - 
          <% if area.diff_to? %>
            <%= area.diff_from %> to <%= area.diff_to %>
          <% else %>
            <%= area.diff_from %>
          <% end %>
          <br>
          Creator - <%= area.creator %>
          </font>
        </small>
      </blockquote>
    </li>
  <% end %> 
  <%= will_paginate %>
</ol>
