@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */


body {
  height: 100%;
  width: 100%;
  margin-top: 60px;
  background-color: #000000;
  background-image: url(sword.jpg);
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {

  background-color: rgba(50,50,50,0.5);
  margin-bottom: 50px;
  h1 {
    margin-bottom: 10px;
  }
}

.align_center {
  text-align: center;
}

#download_links {
  text-align: left;
  list-style: none;
  font-size: 1.2em;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: #d1d1d1;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: #d1d1d1;
}

h3 {
  text-align: center;
  margin-bottom: 40px;
  color: #d1d1d1;
}

p {
  font-size: 1em;
  letter-spacing: -1px;
  line-height: 1em;
  text-align: justify;
  margin-bottom: 30px;
  color: #d1d1d1;
}

blockquote small:before, blockquote .small:before {
    content: none;
}

blockquote {
  font-size: -1em;
  line-height: 1em;
  letter-spacing: -1px;
  text-align: left;
  border-left: none;
  color: #d1d1d1;
}

/* header */
header {
  background-color: #000000;
}

#logo {
  float: right;
  margin-right: 10px;
  margin-left: 20px;
  font-size: 1.7em;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* main body */

#main {
  margin-bottom: 50px;
}


/* left panel */
#panel {
  float: left;
  width: 200px;
  font-size: -1em;
  letter-spacing: -1px;
  padding-top: 20px;
}

/* content */
#content {
  border-left: 1px solid $gray;
  margin-left: 200px;
  padding-left: 30px;
  overflow-y: auto;
  height: 76vh;
}
#help_list {
  border-bottom: 1px solid $gray;
  padding-top: 20px;
}

/* form panel */
#form_basic {
  float: left;
  width: 400px;
}

#form_char {
  margin-left: 400px;
  padding-left: 10px;
  width: 150px;
}

/* footer */

footer {
  background-color: #000000;
  margin-top: 40px;
  padding-top: 5px;
  border-top: 1px solid $gray-light;
  color: $gray-light;
  small{
    float: left;
    margin-left: 40px;
  }
  ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    li {
      float: left;
      margin-left: 15px;
    }  
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.avatar_pic {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
    font-size: 0.6em;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -25px;
  margin-bottom: 5px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* show all areas */

.showallareas {

}

.showall {
  background: rgba(0,0,0,0.5);
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* map */

.area_form {
  textarea {
    height: 150px;
    margin-bottom: 5px;
  }
}

#area_form_left {
  float: left;
  width: 400px;
}

#area_form_right {
  margin-left: 400px;
  padding-left: 10px;
  width: 400px;
}

.map {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.target {
  cursor: pointer;
}

span.text-content-left {
/*
  background: rgba(0,0,0,0.5);
  color: white;
  display: table;
  height: 50px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100px;
  opacity: 0;
  border: 2px solid $gray-light;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
*/
}

span.text-content-left span {
/*  
  display: table-cell;
  text-align: center;
  vertical-align: middle;
*/
}

.map_help {
  background-color: rgba(0,0,0,0.5);
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  overflow-y: auto;
  height: 124px;
  width: 1150px;
  border: 2px outset;
}

.area_show_details {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    letter-spacing: -1px;
    padding: 0 0;
  }
}

.map_help_list {
  font-size: 16px;
}

#boxleft {
  display: none;
  background: rgba(0,0,0,0.5);
  color: white;
  font-family: Papyrus;
  font-size: 14px;
  font-style: oblique;
  opacity: 1;
  height: 50px;
  width: 180px;
  position: absolute;
  text-align: center;
  padding-top: 12px;
  left: 0;
  top: 0;
  border: 2px solid $gray-lighter;
}

#boxright {
  display: none;
  background: rgba(0,0,0,0.5);
  color: white;
  font-family: Papyrus;
  font-size: 14px;
  font-style: oblique;
  opacity: 1;
  height: 50px;
  width: 180px;
  position: absolute;
  text-align: center;
  padding-top: 12px;
  left: 970px;
  top: 0;
  border: 2px solid $gray-lighter;
}

#boxtop {
  display: none;
  background: rgba(0,0,0,0.5);
  color: white;
  font-family: Papyrus;
  font-size: 14px;
  font-style: oblique;
  opacity: 1;
  height: 25px;
  width: 1150px;
  position: absolute;
  text-align: center;
  left: 0;
  top: 0;
}

#boxbottom {
  display: none;
  background: rgba(0,0,0,0.33);
  color: white;
  font-family: Papyrus;
  font-size: 14px;
  font-style: oblique;
  height: 25px;
  width: 700px;
  position: absolute;
  text-align: center;
  left: 414px;
  top: 525px;
  cursor: pointer;
}

/* .map map:hover + span.text-content-left {
  opacity: 1;
} */

/* replaced by javascript
.target[data-textboxleft]:hover:after {
  content: attr(data-textboxleft);
  background: rgba(0,0,0,0.5);
  color: white;
  font-family: Papyrus;
  font-size: 16px;
  font-style: oblique;
  opacity: 1;
  height: 50px;
  width: 180px;
  position: absolute;
  text-align: center;
  padding-top: 12px;
  left: 0;
  top: 0;
  border: 2px solid $gray-lighter;
}

.target[data-textboxright]:hover:after {
  content: attr(data-textboxright);
  background: rgba(0,0,0,0.5);
  color: white;
  font-family: Papyrus;
  font-size: 16px;
  font-style: oblique;
  opacity: 1;
  height: 50px;
  width: 180px;
  position: absolute;
  text-align: center;
  padding-top: 12px;
  left: 970px;
  top: 0;
  border: 2px solid $gray-lighter;
}

.target[data-textboxbottom]:hover:after {
  content: attr(data-textboxbottom);
  
  color: white;
  font-family: Papyrus;
  font-size: 16px;
  font-style: oblique;

  height: 25px;
  width: 699px;
  position: absolute;
  text-align: center;
  left: 414px;
  top: 525px;
}

.target[data-textboxtop]:hover:after {
  content: attr(data-textboxtop);
  background: rgba(0,0,0,0.5);
  color: white;
  font-family: Papyrus;
  font-size: 16px;
  font-style: oblique;
  opacity: 1;
  height: 25px;
  width: 1150px;
  position: absolute;
  text-align: center;
  left: 0;
  top: 0;
}

*/

/* news */

.news_feed {
  background-color: rgba(50,50,50,0.5);
}

.news {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    display: block;
    margin-left: 170px;
  }
  .news_title {
    display: block;
  }
  .news_content {
    display: block;
    margin-left: 170px;
  }
  .timestamp {
    display: block;
    margin-left: 170px;
  }
  .news_title {
    margin-left: 0px;
    padding-left: 0px;
  }
}

/* messages */

.messages {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
  }
  .timestampe {
    display: block;
    margin-left: 60px;
    color: $gray-light;
  }
  .user_pic {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 150px;
    margin-bottom: 5px;
  }
}

span.avatar {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* about */

.about_contact {
  margin: 150px 200px 0;
}
