<% if @news_feed.any? %>
  <ol class="news news_feed">
  <% @news_feed.each do |news| %>
      <li id="news-<%= news.id %>">
        <aside class="col-md-2">
          <span class="news_title"><%= news.title %></span>  
        </aside>
        <span class="news_content"><%= news.content %></span>
        <span class="user"><%= link_to news.user.name, news.user %></span>
        <span class="timestamp">
          Posted on <%= news.created_at.to_time.strftime('%m/%d/%Y') %>
          | <%= link_to "edit", edit_newspost_path(news) %>
          | <%= link_to "delete", news, 
              method: :delete, data: { confirm: "Delete this news item?" } %>
        </span>
      </li>
  <% end %>
  </ol>
  <%= will_paginate @news_feed%>
<% end %>