<%= form_for(@news_post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <font color="d1d1d1"><%= yield(:header) %></font><br><br>
  <div class="field">
    <%= f.text_field :title, placeholder: "News title" %>
    <%= f.text_area :content, placeholder: "News content" %>
  </div>
  <%= f.submit yield(:button), class: "btn btn-primary" %>
<% end %>  
  