<font color="d1d1d1">
  <ol class="news">
    <% @news.each do |news| %>
      <li id="news-<%= news.id %>">
        <aside class="col-md-2">
          <span class="news_title"><%= news.title %></span>  
        </aside>
        <span class="news_content"><%= news.content %></span>
        <% if !logged_in? %>
        <% elsif current_user.admin? %>
          <span class="user"><%= link_to news.user.name, news.user %></span>
        <% end %>
        <span class="timestamp">
          Posted on <%= news.created_at.to_time.strftime('%m/%d/%Y') %>
        </span>
      </li>
    <% end %>
  </ol>
</font>
<%= will_paginate @news %>