<% provide(:title, "News") %>
<% provide(:button, "Update News") %>
<% provide(:header, "Enter Update:") %>
<% if logged_in? %>
  <% if current_user.admin? %>
    <aside class="col-md-4">
      <section class="news_form">
        <%= render 'news_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <font color="d1d1d1">
        <h3>Current News</h3>
        <%= render 'feed' %>
      </font>
    </div>
  <% else %>
    <div class="center jumbotron">
    <h1><font color="d1d1d1">The News</font></h1>
    <h3>
      <font color="d1d1d1">
        Last updated on <%= Newspost.first.created_at.to_time.strftime('%m/%d/%Y') %>
      </font>
    </h3>
    <%= render "news" %>
    </div>
  <% end %>
<% else %>
  <div class="center jumbotron">
  <h1><font color="d1d1d1">The News</font></h1>
  <h3>
    <font color="d1d1d1">
      Last updated on <%= Newspost.first.created_at.to_time.strftime('%m/%d/%Y') %>
    </font>
  </h3>
  <%= render "news" %>
  </div>
<% end %>