<footer class="navbar-fixed-bottom">
  <small>
    The home of StrangeMUD<sup>&trade;</sup>
    <%= link_to image_tag("facebook.png", :class => "facebook_icon", 
        :alt => "Facebook"), 
        "https://www.facebook.com/groups/46967101209/?fref=nf", 
        :target => "_blank" %>
    <%= link_to image_tag("google.png", :class => "google_icon",
        :alt => "Google+"),
        'https://plus.google.com/+StrangemudNet', :target => "_blank" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>